<app-projects>
  <div class="container-fluid intro">
    <h2>check out some of my most recent projects</h2>
  </div>
  {{> app-project-item }}
  {{!-- project --}}
  {{!-- project --}}
  {{!-- project --}}
  {{!-- project --}}
  {{!-- project --}}
</app-projects>