<app-projects>
  <div class="container-fluid intro">
    <div class="row">
      <div class="col-12 bg-secondary">
        <h2>check out some of my most recent projects</h2>
      </div>
      {{> app-project-item 
          wrapperClasses="col-12 col-md-6 p-0"
          imageUrl="dragonvegano/dragon-03.jpg"
          projectTitle="dragón vegano"
          projectSubtitle="front-end development"
      }}
      {{> app-project-item 
          wrapperClasses="col-12 col-md-6 p-0"
          imageUrl="angulartimer/angular-timer-showcase.jpg"
          projectTitle="angular timer"
          projectSubtitle="front-end development"
      }}
      {{> app-project-item 
          wrapperClasses="col-12 col-md-6 p-0"
          imageUrl="mrwolf/header-mrwolf.jpg"
          projectTitle="mr wolf lab"
          projectSubtitle="web design"
      }}
      {{> app-project-item 
          wrapperClasses="col-12 col-md-6 p-0"
          imageUrl="backdoor/backdoortv_01.jpg"
          projectTitle="Back Door TV"
          projectSubtitle="Branding"
      }}
      {{> app-project-item 
          wrapperClasses="col-12 col-md-6 p-0"
          imageUrl="3d/CIERVO_ESTUDIO.jpg"
          projectTitle="3d tests"
          projectSubtitle="3d"
      }}
      {{> app-project-item 
          wrapperClasses="col-12 col-md-6 p-0"
          imageUrl="a2a2/construccionesa2a2.jpg"
          projectTitle="construcciones a2a2"
          projectSubtitle="Web design"
      }}
      {{> app-project-item 
          wrapperClasses="col-12 col-md-6 p-0"
          imageUrl="bodasvelvet/bodasvelvet.jpeg"
          projectTitle="bodas velvet"
          projectSubtitle="Branding, Web design"
      }}
      {{> app-project-item 
          wrapperClasses="col-12 col-md-6 p-0"
          imageUrl="sombrasil/sombrasil_01.jpg"
          projectTitle="som brasil"
          projectSubtitle="Branding"
      }}
      {{> app-project-item 
          wrapperClasses="col-12 col-md-6 p-0"
          imageUrl="elcharcoexport/elcharco_identity.jpg"
          projectTitle="el charco export"
          projectSubtitle="Branding, web design"
      }}
      {{> app-project-item 
          wrapperClasses="col-12 col-md-6 p-0"
          imageUrl="uecornella-ecommerce/uecornella_ecommerce_web_02.jpg"
          projectTitle="ue cornellà ecommerce"
          projectSubtitle="web design"
      }}
      {{> app-project-item 
          wrapperClasses="col-12 col-md-6 p-0"
          imageUrl="back2basics/back2basics.jpg"
          projectTitle="back2basics"
          projectSubtitle="branding"
      }}
      {{> app-project-item 
          wrapperClasses="col-12 col-md-6 p-0"
          imageUrl="uecornella-tv/logo_uecornellatv_01.jpg"
          projectTitle="uecornellà tv"
          projectSubtitle="branding"
      }}
      {{> app-project-item 
          wrapperClasses="col-12 col-md-6 p-0"
          imageUrl="primeraventa/header-primeraventa.jpg"
          projectTitle="primeraventa.com"
          projectSubtitle="web design"
      }}
      {{> app-project-item 
          wrapperClasses="col-12 col-md-6 p-0"
          imageUrl="podium/BRANDING_01_02.jpg"
          projectTitle="podium icp"
          projectSubtitle="branding, web design"
      }}
    </div>
  </div>
</app-projects>