<app-project-item>
  <article>
    <div class="project__hover">
      <a href="#">
        <div class="project__hover_layer">
          <div class="project__info">
            <h3 class="project__info_title">
              project title
            </h3>
            <h4 class="project__info_subtitle">
              project subtitle
            </h4>
          </div>
        </div>
      </a>
    </div>
  </article>
</app-project-item>