<app-contact id="{{id}}">
  <div class="container-fluid">
    <h2 class="h2">contact me for more information</h2>
    <div class="tel">
      <p>
        <a href="tel:+34675273454">
          <i class="fas fa-phone"></i>
          +34 675 273 454
        </a>
      </p>
      <p>
        <a href="mailto:wola@alexbretones.com">
          <i class="fas fa-envelope"></i>
          wola@alexbretones.com
        </a>
      </p>
    </div>
    <div class="social">
      <h3 class="h3">follow me on</h3>
      <a href="https://www.instagram.com/abretonesdesign/" target="_blank">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="https://github.com/AlexBHdez" target="_blank">
        <i class="fab fa-github"></i>
      </a>
      <a href="https://www.linkedin.com/in/abretones" target="_blank">
        <i class="fab fa-linkedin"></i>
      </a>
    </div>
  </div>
</app-contact>