<app-contact>
  <div class="container-fluid">
    <h2>contact me for more information</h2>
    <div class="tel">
      <p>phone</p>
      <p>mail</p>
    </div>
    <div class="social">
      instagram, linkedin, github
    </div>
  </div>
</app-contact>