{{#> base className="public-landing" }}
    <header>
        {{> app-header }}
    </header>
    <main class="main">
        {{> app-hero }}
        {{> app-about 
            title="I am a creative freelancer based in Barcelona, Spain, specialized in Branding Identity and Web design with strong front-end coding skills." }}
        {{> app-projects }}
        {{!-- clients --}}
        {{> app-contact }}
    </main>
    {{!-- footer --}}
{{/ base }}
