//========================================
// Custom variables
//========================================

// Project name abbreviation for components
$project: app;

// Fonts-Family
$rancho-google-font: 'https://fonts.googleapis.com/css?family=Rancho" rel="stylesheet';

// Routes
$url-img: '/../assets/img';
$url-fonts: '/../assets/fonts';

// Transition
$fast: .15s;
$medium: .3s;
$slow: .5s;

// Fonts-sizes
$font-size-basic: 16;

//========================================
// Override variables
//========================================