//========================================
// Custom variables
//========================================

// Project name abbreviation for components
$project: app;

// Fonts-Family
$rancho-google-font: 'https://fonts.googleapis.com/css?family=Rancho" rel="stylesheet';
$oswald-google-font: 'https://fonts.googleapis.com/css?family=Oswald:200,400,600';

// Routes
$url-img: '/../assets/images';
$url-fonts: '/../assets/fonts';

// Transition
$fast: .15s;
$medium: .3s;
$slow: .5s;

// Fonts-sizes
$font-size-basic: 16;

// Navbar
$burger-width: 25px;
$burger-icon-height: 2px;
$burger-icon-radius: $burger-icon-height;
$navbar-dark-color: $white;
$navbar-dark-hover-color: rgba($white, .5);
$navbar-dark-active-color: $white;


//========================================
// Override variables
//========================================