#{$project}-hero {
  .hero {
    // FIXME: add image 2x
    // @include retinize(#{$url-img}/header-alexbretones, png);
    background-image: url(#{$url-img}/header-alexbretones.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
  }
}