<app-hero class="app-hero">
  <section class="hero">
    <header class="d-flex align-items-end h-100 pb-5">
      <div class="hero__text">
          <h1 class="h1 d-inline">Full stack developer & graphic designer</h1>
          <h2 class="h2">In love with graphic design and <span class="text-secondary">code.</span></h2>
          {{> app-button buttonWithA=true buttonLink="/#about" buttonText="what i do" className="btn-outline-light rounded-0 btn-md ml-1 mt-2" }}
      </div>
    </header>
  </section>
</app-hero>