<app-about-item class="{{ className }}">
  <div class="icon-wrapper">
    <img src="{{iconSrc}}" />
  </div>
  <div class="content-wrapper">
    <h3 class="h3">{{ title }}</h3>
    <p class="text">{{ description }}</p>
  </div>
</app-about-item>