<app-about>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <h2 class="title">
          {{ title }}
        </h2>
      </div>
      {{> app-about-item 
          className="col-12"
          icon="branding"
          title="branding"
          description="Discover the essence of a brand and create a complete identity across all current platforms."
      }}
      {{> app-about-item
          className="col-12" 
          icon="web design"
          title="web design"
          description="From a sketch to a fully functional website with or without CMS."
      }}
      {{> app-about-item
          className="col-12" 
          icon="frontend"
          title="front-end"
          description="I develop applications with Javascript, Node.js, MongoDB and with frameworks like Angular or React."
      }}
      <div class="col-12">
        <h2 class="text-center text-uppercase">background</h2>
        <p>I am a graphic designer with a Master Degree in Business Management (Universitat de Barcelona), a Postdegree in Ecommerce (Seeway) and a Master Degree in Graphic Design and Digital Art (Seeway). I also have a Degree in Education which allowed me to teach design in different schools in Barcelona. I just finished Ironhack Web Development part-time learning full stack technologies, I believe that both, my design experience aligned with my education in Full-Stack Development will allow me to grow into a more proficient and complete designer professional.</p>
      </div>
      {{> app-button buttonWithA=false buttonText="download my cv" className="d-block btn-outline-light rounded-0 btn-md ml-1 mt-2" }}
      {{> app-button buttonWithA=false buttonText="checkout my projects" className="d-block btn-outline-light rounded-0 btn-md ml-1 mt-2" }}
    </div>
  </div>
</app-about>